<div>
    <h2>LogIn</h2>

    <form action="auth/login" method="post">
        <p>Email</p>
        <input type="text" name="username" id="email">

        <p>Password</p>
        <input type="text" name="password" id="password">
        <button type="submit" id="btn" >Iniciar Sesión</button>
    </form>
</div>

<script src="/public/js/login.js"></script>